DJANGO_SECRET_KEY=Tota11y5ecret41ph4num3r1cPa55w0rd
DJANGO_SUPERUSER_API_TOKEN=0123456789abcdef0123456789abcdef01234567
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_EMAIL=admin@admin.com

DB_PASS=notverysecurepwd
DB_USER=personaljournal

# Required for Postgres Docker images -----------------------------------------
POSTGRES_USER=$DB_USER
POSTGRES_PASSWORD=$DB_PASS