<!DOCTYPE html>
<html>
<head>
<title>{{ expense.vendor }} {{ expense.date }}</title>
</head>
<body>

<h1>Expense</h1>
<form action="{% url 'expenses:save_expense' expense.id %}" method="POST">
    {% csrf_token %}
    <fieldset>
        <p>Date: {{ expense.date }}</p>
        <legend><em>{{ expense.vendor}} ${{ expense.expense }}</em></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <label for="expense_type">Type</label>
        <select id="expense_type" name="expense_type">
        {% for expense_type in expense_types %}
            <option value="{{ expense_type.id }}" {% if expense_type == expense.expense_type %}selected{% endif %}>
                {{ expense_type.expense_type }}
            </option>
        {% endfor %}
        </select><br/>
        <label for="vendor">Vendor</label>
        <select id="vendor" name="vendor">
        {% for vendor in vendors %}
            <option value="{{ vendor.id }}" {% if vendor == expense.vendor %}selected{% endif %}>
                {{ vendor.vendor }}
            </option>
        {% endfor %}
        </select><br/>
        <label for="description">Description</label>
        <input type="text" name="description" id="description" value="{{ expense.description}}"/><br/>
        <label for="cost">Cost $</label>
        <input type="text" name="cost" id="cost" value="{{ expense.expense}}"/><br/>
    </fieldset>
    <input type="submit" value="Save"/>
</form>

</body>
</html>
